.text {

    .title {
        letter-spacing: 4px;
    }

    .underline {
        height: 5px;
        width: 30px;
        background-color: #EE8B3A;
        border-radius: 1rem;
        margin: 1rem;
    }

    p {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}