.project-button {
    margin-top: 3rem;
    width: 155px;
    padding: 1rem;
    border-radius: .2rem;
    background: #ffa153;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: all .4s ease 0s;

    &:hover {
        scale: 1.05;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: black;
        }
    }
}